*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: $text;
    font-family: $font;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

footer,
header,
nav,
section,
main {
    display: block;
}


body {
    background-color: $background;
    line-height: 1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-text;
}


ol,
ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
}

button{
    color: $text;
    border: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 5rem;

    @include respond(tablet-landscape) {
        padding-inline: 1.5rem;
    }

    @include respond(phone) {
        padding-inline: 0.75rem;
    }
}

.primary-button {
    background-color: $primary;
    padding: 0.65rem 1.3rem;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    transition: all 0.3s ease;
    display: inline-block;
    border: 1px solid transparent;
    box-shadow: 2px 2px 4px $background-shade;

    &:hover {
        background-color: transparent;
        border-color: $primary;
    }
}

.transparent-button {
    background-color: transparent;
    padding: 0.65rem 1.3rem;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    transition: all 0.3s ease;
    display: inline-block;
    border: transparent;

    &:hover {
        color: $accent;
    }
}

.accent-button {
    background-color: $accent;
    padding: 0.65rem 1.3rem;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    transition: all 0.3s ease;
    display: inline-block;
    border: 1px solid transparent;
    color: $background;
    box-shadow: 2px 2px 4px $background-shade;

    &:hover {
        background-color: transparent;
        border-color: $accent;
        color: $text
    }
}

.fancy-button {
    border: 4px solid $text;
    padding: 1rem 2rem;
    position: relative;
    background-color: transparent;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 5px;
    color: $background;
    

    &:after {
        position: absolute;
        top: 10px;
        left: 10px;
        height: 100%;
        width: 100%;
        background-color: $accent;
        border-radius: 0.3rem;
        content: "";
        z-index: -1;
        transition: transform 0.2s ease-in, width 0.2s ease-out 0.2s;
    }

    &:hover {
        &:after {
            transform: translate(calc(-10px - 0.25rem), calc(-10px - 0.25rem));
            width: calc(100% - 10px);
        }
    }

    &:active {
        &:after {
            width: 100%;
        }
    }
}

.primary-text {
    color: $primary;
}

.accent-text {
    color: $accent;
}

.loading {
    width: 100%;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height:1.2em;
    overflow: hidden;
  }
  .loading:before {
    content:"Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
  }
  
  @keyframes l39 {
    100%{transform: translateY(-100%)}
  }

  .error-message {
    color: $error;
    font-size: 0.9rem;
    margin-bottom: 15px;
  }