@import "../../variables.scss";
@import ".././layouts/basic.scss";
@import ".././layouts/var2.scss";
@import ".././layouts/detailed.scss";

.chart-container {
    background-color: #3d63a41a;    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $primary;
    border-radius: 16px;
    margin: 6px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;

    .chart {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

    }

    .chart-title{
        position:sticky;
        color: $text;
        justify-self: flex-start;
        text-align: center;
        justify-content: center;
        font-size: 2vh;
        margin-bottom: 2vh;
        background: rgb(51,51,51);
        background: linear-gradient(90deg, rgba(51,51,51,0) 20%, rgba(61,98,164,1) 50%, rgba(51,51,51,0) 80%);
    }
    .chart-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0.8;
    }
}

.change-chart-form {
    position: sticky;
    left: 90%;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    width: 8vw;
    justify-content: center;
    align-items: center;

    select {
        width: 8vw;
    }
}

.change-chart-type-form select {
    border: 1px solid $accent;
    outline: $accent;
    background-color: $background;
    border-radius: 6px;
    color: $text;
}

.change-chart-form select {
    border: 1px solid $primary;
    background-color: $background;
    border-radius: 6px;
    color: $text;
}

.change-chart-types-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    margin-left: 1vw;
    gap: 0.5vw;
}


//account-balances
.account-balance-container {
    display: flex;
    flex-direction: column;
    
    .row {
        display: flex;
        flex-direction: row;
        width: 18vw;
        font-size: 3vh;
        margin-bottom: 0.5vh;
        justify-content: space-between;

    }
}