@import "./layouts/basic.scss";
@import "./layouts/scientic.scss";
@import "./layouts/detailed.scss";

.page {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100svh;
    background-color: $background;
    
    button {
        border: none;
        font-family: $font;
    }
}

.dashboard {
    .header {
        grid-area: header;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;

        justify-self: center;
        width: 95%;
        background-color: #3d63a456;    
   border: 1px solid $primary;
    border-radius: 16px;
    padding-left: 4px;
    padding-right: 4px;
        //background: rgb(61,98,164);
        //background: linear-gradient(90deg, rgba(61,98,164,1) 0%, rgba(56,74,106,1) 15%, rgba(52,55,59,1) 100%);

        section {
            display: flex;
            width: 28vw;
            height: 100%;

            p {
                font-size: 3vh;
            }
        }
        .welcome {
            margin-left: 2vw;
        }
        .sub-title-section {
            justify-content: center;
            width: 18vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .save-container {
                position: relative;
                display: inline-block;
                overflow: hidden;
                width: 10vw;
                display: flex;
                flex-direction:row;
                justify-content: space-evenly;
                align-items: center;

                .save {
                    position: absolute;
                    left:0.5vw;
                    height: 7vh;
                    transition: transform 0.5s;

                }
                .label{
                    position: absolute;
                    left: 0;
                    transform: translateX(-100%);
                    white-space: nowrap;
                    opacity: 0;
                    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
                }
            }


.save-container:hover .label {
    transform:  translateX(60%);
    opacity: 1;
    color: $accent
  }
  .save-container:hover .save {
    transform: scale(1.8);
    color: $accent;
  }
  .save-container:hover {
    cursor: pointer;
  }
        }

        .choosen-layout {
            justify-content: center;
            div{
                align-self: center;
                font-size: 2.5vh;
                letter-spacing: 0.5vw;
     //           border-bottom: 1px solid $accent;
                margin: 0;
            }
        }
        .menu-button-section {
            justify-content: flex-end;
        }

        p{
            text-align: center;
            align-content: center;
            font-size: 5vh;
        }

        .menu-button {
            background-color: inherit;
            justify-content: flex-end;
            align-self: center;
            border: none;
            color: $text;
            font-size: 40px;
            cursor: pointer;
        }
    }

    .hamburger-menu {
        position: absolute;
        right: 3rem;
        top:2.5rem;
        z-index: 1;
        background-color: $background;
        display: flex;
        flex-direction: column;
        height: 6vh;
        box-shadow: 0px 0px 3px $accent;

        .active{
            background-color: $accent;
            color: $primary;
        }

        button {
            width: 10vw;
            min-height: 3vh;
            cursor: pointer;
            border-radius: 0;
            border: none;
            background-color: $background
        }
        button:hover {
            background-color: $accent;
            color: $primary
        }

        .layout-menu {
            display: flex;
            flex-direction: column;
            position: relative;
            right: 100%;
            bottom: 3vh;
            background-color: none;
            box-shadow: 0px 0px 3px $accent;

        }
    }

    
.loader {
    position:absolute;
    left: 50%;
    top:40%;
    width: 10rem;
    aspect-ratio: 1;
    display: flex;
    animation: l10-0 2s infinite steps(1);
  }
  .loader::before,
  .loader::after {
    content: "";
    flex: 1;
    animation: 
      l10-1 1s infinite linear alternate,
      l10-2 2s infinite steps(1) -.5s;
  }
  .loader::after {
    --s:-1,-1;
  }
  @keyframes l10-0 {
    0%  {transform: scaleX(1)  rotate(0deg)}
    50% {transform: scaleX(-1) rotate(-90deg)}
  }
  @keyframes l10-1 {
    0%,
    5%   {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg) }
    33%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg) }
    66%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg)}
    95%,
    100% {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg)}
  }
  @keyframes l10-2 {
    0%  {background:$primary;border-radius: 0}
    50% {background:$accent;border-radius: 100px 0 0 100px}
  }
}

.dashboard-container {
    grid-area: main;
    display: grid;
    position: absolute;
    top: 7vh;
    left: 13vw;
    width: 84vw;
    height: 90vh;
    grid-template-columns: repeat(6, 14vw); 
    grid-template-rows: repeat(5, 18vh);     
}

form select {
    text-align: center;
}

form select:hover {
    cursor: pointer
}

.chart-container.edit-mode:hover{
    border: 1px solid $accent;
    background-color: #f9d4421a;
}
