.user-profile {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100svh;

  &-container {
    padding-top: 1rem;
    grid-area: main;
  }


  &-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid $accent; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #profilePicture {
      padding: 0;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }

  &-username,
  &-email,
  &-password{
    display: flex;
    width: 35rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    label {
      display: block;
      font-size: 0.9rem;
      font-weight: 600;
      color: $heading-text;
      margin-bottom: 0.5rem;
    }
  }

  input {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    background-color: $background-shade;
    border: 1px solid $text;
    border-radius: 5px;
    color: $text;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: $accent-shade;
      box-shadow: 0 0 3px $accent-shade;
      outline: none;
    }
  }

  input[type="password"] {
    letter-spacing: 0.2em;
  }

  .inactive{
    input{
      cursor:not-allowed;
      border: none;
      outline: none;
      color: $text-shade;
      pointer-events: none;     
    }
  }

}